.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1c1c1b;
  flex: 1;
}

.hyuil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #fff;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 50px 0 rgba(255, 196, 164, 0.596);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gradientText {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(to right, #eb2193, #fc9f0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
